<div class="row">
  <div class="col-lg-4">
    <h2 class="selfie">Photo of Web Developer / Designer</h2>
  </div>
  <div class="col-lg-8">
  <h2>Who Am I:</h2>
  <p>Hello! I’m Dayna. My background is in fine arts, where during my undergraduate I focused my energies on printmaking and photography. I’ve always thrived on making things. I am constantly striving to improve my skills and learn new technologies.</p>
  <p>I began teaching myself the in’s and outs of Photoshop CS3 in 2008 and haven’t looked back. Since then I’ve built up my creative toolkit to include Illustrator, Lightroom, and even a little Premier Pro.</p>
  <p>Finally, I wanted to achieve the ultimate endeavor - Web Development. Once grasping the nuances of CSS and HTML I moved on to the big leauges of Ruby on Rails, Javascript and Jquery. Still hashing it out in the array of web frameworks is challenging but I’m always up for the challenge.  </p>
  </div>
</div>
<div class="row">
  <h2>What I Do:</h2>
</div>
<div class="row">
  <h2>What I Know:</h2>
  <ul>
    <li>Ps</li>
    <li>Ai</li>
    <li>Lr</li>
    <li>Pr</li>
  </ul>
  <ul>
    <li>html -> haml</li>
    <li>css -> sass</li>
    <li>JavaScript -> jQuery</li>
    <li>Ajax</li>
  </ul>
</div>