
<div class="row" id="name">
  <div class="heading">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="name">Hello, I'm Dayna Lowe</h1>
      <h3 class="title">Web Developer and Designer</h3>
      <h2 class="sub-title">build - make - do - think</h2>
    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="row" id="the-story-so-far">
    <img id="triangle" class="img-responsive" src="assets/triangle.png"></img>
    <h2 class="story-heading">The Story So Far.</h1>
    <section id="timeline">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <img id="first" class="img-responsive" src="assets/the-beginning.png"></img>
          <p class="story">She caught the aesthetic bug early on, as she used to draw page after page of stick figure ladies in dollarama notebooks. In highschoool she was a full fledged art geek. The most natural next step was to gain an arts degree.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <img id="first" class="img-responsive" src="assets/love.png" alt="Icons of my love for printmaking and photography."></img>
          <p class="story">During her undergraduate she fell in love with analog documentary photography and intaglio printmaking.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <img id="first" class="img-responsive" src="assets/digital.png" alt="Icons of my love for printmaking and photography."></img>
          <p class="story">Being from dial-up Ontario tech was a big deal and after an introductory photoshop course she couldn't get enough and began teaching herself the in's and out's of photoshop.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <img id="first" class="img-responsive" src="assets/photo-restoration.png" alt="Icons of my love for printmaking and photography."></img>
          <p class="story">After obtaining her Fine Arts Degree with an honours in Studio and Art History she ventured to the nations capital where she continued to take draw, print and photograph life.  Her first position as an image retoucher made her a pro at removing unwanted blemishes and ex's. Since then she's continued to build up her creative toolkit to include Illustrator, InDesign, Lightroom, and even a little Premier Pro.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <img id="first" class="img-responsive" src="assets/web-development.png" alt="Icons of my love for printmaking and photography."></img>
          <p class="story">Being tech inclined gave her an itch to achieve the ultimate endeavor - Web Development. Once grasping the nuances of CSS and HTML she moved on to the big leauges of Ruby on Rails, Javascript and Jquery. She continues hacking about in an array of web frameworks as she's always up for a challenge.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
      </section>
    </div>
  </div>

  <div class="skills">
    <div class="skill-box">
      <div class="toolkit">
        <h3>Designer Toolkit:</h3>
        <ul>
          <li>Adobe Photoshop</li>
          <li>Adobe Illustrator</li>
          <li>Adobe InDesign</li>
          <li>Adobe Lightroom</li>
          <li>Photography</li>
        </ul>
      </div>

      <div class="toolkit-no-border">
          <div id="plus-sign"></div>
      </div>

      <div class="toolkit">
        <h3>Developer Toolkit:</h3>
        <ul>
          <li>HTML/HTML5 & HAML</li>
          <li>CSS/CSS3 & SASS</li>
          <li>Ruby on Rails</li>
          <li>Bootstrap</li>
          <li>Javascript, Jquery & AJAX</li>
        </ul>
      </div>
      <div class="toolkit-no-border">
          <div id="equal-sign-top"></div>
          <div id="equal-sign"></div>
      </div>
      <div class="toolkit">
        <h3>Your Next Project</h3>
        <ul>
          <li>Web Design</li>
          <li>Product Photography</li>
          <li>Portrait Photography</li>
          <li>Custom Designs for Web and Print</li>
          <li>Custom Tumblr, Wordpress and Shopify Themes</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row" id="about">
    <div class="who-i-am">
      <img id="selfie" src="assets/selfie2.JPG" alt="Photo of Web Developer / Designer"></img>
      <div class="about">
        <p>
          Dayna is a photographer, designer and developer. She specializes in making things. If you can't find her watching yet another video tutorial to improve her current skillset she's most likely cooking up a storm in her tinie Toronto kitchen. She might even share her creations before consumption on <a href="https://instagram.com/idratherexplode" class="detail">Instagram</a>.
        </p>
        <p>
          Her favourite things are technology, coffee, beautiful photographs and illustrations.  Her weaknesses are online tutorials, kitchen equipment, sprouting, queer love stories, suzy q donuts and kodak portra. Her biggest challenge is finding time for everything.
        </p>
        <p>Want to work together? Or say hi? Get at me <a href="mailto:dayna.c.lowe@gmail.com" class="mail">here</p>
      </div>
    </div>
    <div>
    </div>
</div>
