<div class="row" id="name">
  <div class="heading">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="name">Hello, I'm Dayna Lowe</h1>
      <h3 class="title">Web Developer and Designer</h3>
      <h2 class="sub-title">build - make - do - think</h2>
    </div>
  </div>
</div>

<div class="container-fluid-timeline">
  <%= render "timeline"  %>
</div>

<div class="skills">
  <div class="skill-box">
    <div class="toolkit">
      <h3>Designer Toolkit:</h3>
      <ul>
        <li>Adobe Photoshop</li>
        <li>Adobe Illustrator</li>
        <li>Adobe InDesign</li>
        <li>Adobe Lightroom</li>
        <li>Photography</li>
      </ul>
    </div>
    <div class="toolkit-no-border">
        <div id="plus-sign"></div>
    </div>
    <div class="toolkit">
      <h3>Developer Toolkit:</h3>
      <ul>
        <li>HTML/HTML5 & HAML</li>
        <li>CSS/CSS3 & SASS</li>
        <li>Ruby on Rails</li>
        <li>Bootstrap</li>
        <li>Javascript, Jquery & AJAX</li>
      </ul>
    </div>
    <div class="toolkit-no-border">
        <div id="equal-sign-top"></div>
        <div id="equal-sign"></div>
    </div>
    <div class="toolkit">
      <h3>Your Next Project</h3>
      <ul>
        <li>Web Design</li>
        <li>Product Photography</li>
        <li>Portrait Photography</li>
        <li>Custom Designs for Web and Print</li>
        <li>Custom Tumblr, Wordpress and Shopify Themes</li>
      </ul>
    </div>
  </div>
</div>

  <div class="row" id="about">
    <div class="who-i-am">
      <img id="selfie" src="assets/selfie2.JPG" alt="Photo of Web Developer / Designer"></img>
      <div class="about">
        <p>
          Dayna is a photographer, designer and developer. She specializes in making things. If you can't find her watching yet another video tutorial to improve her current skillset she's most likely cooking up a storm in her tinie Toronto kitchen. She might even share her creations before consumption on <a href="https://instagram.com/idratherexplode" class="detail">Instagram</a>.
        </p>
        <p>
          Her favourite things are technology, coffee, beautiful photographs and illustrations.  Her weaknesses are online tutorials, kitchen equipment, sprouting, queer love stories, suzy q donuts and kodak portra. Her biggest challenge is finding time for everything.
        </p>
        <p>Want to work together? Or say hi? Get at me <a href="mailto:dayna.c.lowe@gmail.com" class="mail">here</a></p>
      </div>
    </div>
    <div>
    </div>
</div>
