<div class="parent">
    <div class="redbox">
      <p class="content">Project 1</p>
    </div>
    <div class="redbox">
      <p class="content">Project 2</p>
    </div>
    <div class="redbox">
      <p class="content">3</p>
    </div>
    <div class="redbox">
      <p class="content">4</p>
    </div>
    <div class="redbox">
      <p class="content">6</p>
    </div>
    <div class="redbox">
      <p class="content">7</p>
    </div>
</div>