/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'normalize';
@import "bootstrap-sprockets";
@import "bootstrap";

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
  }

.img-responsive {
  display: block;
  max-width: 90%;
  height: auto;
  margin: 0 auto ;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  margin: 0 auto;
}

h2 {
  margin-top: 10px;
  margin-left: 15px;
}

h3 {
  margin: 0 0 20px 0;
  font-size: 26px;
}

body {
  background-color: #28B698;
  font-family: special_eliteregular;
  font-size: 1.5em;
}

p {
  background-color: #B4D8D1;
}


.row {
  margin-left: 0px;
  margin-right: 0px;
}

#who-i-am {
  background-color: #B4D8D1;
  margin: 0 0 20px 0px;
  padding-right: 20px;
  float: right;
}

#who-i-am > p{
  padding-left: 30px;
  padding-right: 10px;
}

.what-i {
  background-color: #B4D8D1;
  margin-bottom: 20px;
}



img.icon {
  max-height:140px;
  margin-bottom: 2em;
}

img#selfie {
  max-height:400px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: none;
  margin-bottom: 20px;
}

#bike {
  display: inline;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.image-wrapper {
  float: left;
  margin: 2em;
}



.centralize {
  text-align: center;
}

ul.do-icons li {
  display: inline-block;
  text-decoration: none;
  margin-left: 2em;
  margin-right: 1em;

}

.icon-title > li{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}
/*body.wrapper {
  max-width: 1200px;
  margin: auto;
}

ul {

}
  li.category, li.social  {
    display: inline;
    float: right;
    margin: 10px 20px 10px 5px;
  }
*/