/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'normalize';
@import 'bootstrap-sprockets';
@import 'bootstrap';

$dark-grey: #262626;
$light-grey: #434343;
$yellow: #FFCF0B;

$font-head: 'Oswald', sans-serif;
$font-sub: special_eliteregular;
$font-body: 'Muli', sans-serif;

/*
* === BOOTSTRAP GRID ===
*/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
  }

.img-responsive {
  display: block;
  max-width: 90%;
  height: auto;
  margin: 0 auto ;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

.container-fluid-timeline {
    margin: 0px auto;
    padding: 0px;
    max-width: 1400px;
}


/*
* === NAVIGATION ===
*/

.navbar {
  background-color: $dark-grey;
  min-height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 20px 15px;
    margin-top: 20px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-brand {
    float: left;
    padding: 20px 40px 0px 40px;
    font-size: 18px;
    line-height: 20px;
    height: 60px;
}

.container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
  }

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

img.brand {
  padding: 0;
  width: 50px;
  height: relative;
}

li.nav-page:nth-child(3) {
  margin-right: 50px;
}


body {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #ffffff;
  font-family: $font-body;
  background: url("single_bp_bg.png") repeat scroll 0px 0px transparent;

}

h1 {
  font-family: $font-head;
  font-size: 5em;
  text-transform: uppercase;
  margin: 0 auto;
}

h2 {
  font-family: $font-head;
  font-size: 4em;
}

h3 {
  font-family: $font-head;
}

p {
  font-family: $font-body;
  font-size: 1.25em;
  line-height: 1.25em;
  padding-bottom: 5px;
}

li {
  font-family: $font-body;
  font-size: 1.25em;
  line-height: 1.25em;
  list-style-type: none;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}


/*
* === PIE ===
*/

.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $yellow;
  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #81CE97;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: red;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 160px/2);
  top: calc(50% - 160px/2);
  width: 160px;
  height: 160px;
  background: #FFF;
  text-align: center;
  display: table;
}
.ppc-percents p {
  display: block;
  font-family: Oswald;
  font-size: 2em;
  color: $dark-grey;
  background-color: transparent;
  margin: auto;
  padding: 0px;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 20px;
}



/*
* === HEADING ===
*/

.heading {
  background-color: $dark-grey;
  background-image: url(cover-grey.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

img#triangle {
  width: 75px;
  height: relative;
  z-index: 1;
  margin-top: -1px;
}
h1.name {
  font-family: Oswald;
  font-size: 6.5em;
  padding-top: 150px;
  text-align: center;
  color: $yellow;
}

h3.title {
  font-family: $font-sub;
  font-size: 3em;
  padding-top: 15px;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

h2.sub-title {
  font-family: $font-sub;
  font-size: 2em;
  padding-top: 15px;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

img.banner {
  max-width: 1170px;
}

/*
* === TIMELINE ===
*/

#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: $light-grey;
  top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.timeline-item-right {
  display: inline-block;
  max-width: 475px;
  background-color: #fff;
  border-radius: 10%;
  margin: 20px 50px;
  padding-top: 20px;
  float: right;
}

.timeline-item-left {
  display: inline-block;
  max-width: 475px;
  background-color: #fff;
  border-radius: 10%;
  margin: 20px 50px;
  padding-top: 20px;
  float: left;
}


/*
* === THE STORY ===
*/
#the-story-so-far {
  background-color: transparent;
  margin-bottom: 20px;
  padding: 0px 5% 0px 5%;
}

p.story {
  width: 50%;
  min-width: 350px;
  padding: 0px 20px;
  margin: 20px auto;
  background: #fff;
}


h2.story-heading {
  font-family: Oswald;
  font-size: 4em;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-grey;
}


#the-story-so-far p{
  background-color: transparent;
}

/*
* === TOOLKIT ===
*/


.skills{
  min-height: 600px;
  background-color: $dark-grey;
  text-align: center;
  display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.skill-box {
  display: inline-block;
  margin: auto;
}

.toolkit {
  display: inline-block;
  color: #fff;
  max-width: 500px;
  min-height: 300px;
  max-height: 400px;
  text-align: center;
  padding: 40px 40px 20px;
  border: 3px solid $light-grey;
  margin: 50px auto;
}

.toolkit-no-border {
  display: inline-block;
}

.toolkit ul, li {
  padding-left: 0px;
  font-family: $font-body;
  padding-bottom: 5px;

}

.toolkit h3 {
  color: $yellow;
  font-family: $font-head;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
}


#plus-sign {
background:white;
width:33px;
height:100px;
position:relative;
margin: 0px 66px;
}

#plus-sign:before {
background:white;
content:"";
width:100px;
height:33px;
position:absolute;
top:33px;
left:-33px;
}

#equal-sign {
  background:white;
  width:100px;
  height:33px;
  position:relative;
  margin: 33px 33px 0px;
}

#equal-sign-top {
  background:white;
  width:100px;
  height:33px;
  margin: -10px 33px;
  position:relative;
}

// #equal-sign:before {
//   background:white;
//   content:"";
//   width:100px;
//   height:33px;
//   position:absolute;
//   margin: 0px auto;
// }

/*
* === ABOUT ===
*/

#about {
  min-height: 450px;
  text-align: center;
  background-color: #fff;
  display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
}

.who-i-am {
  display: inline-block;
  margin: 0 auto;
  vertical-align: center;
}

.contact {
}

a.mail {
  color: $dark-grey;
}

.about {
  display: inline-block;
  margin: 20px;
  max-width: 600px;
  float: left;
  text-align: left;
  padding: 10px;
}


img#selfie {
  display: inline-block;
  max-height:300px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: none;
  margin: 20px;
  vertical-align: top;
}

a.detail {
  font-size: 1em;
  color: $light-grey;
}

a.detail:hover {
  color: $yellow;
}

/*
* === WHAT I DO -removed ===
*/


.what-i {
  background-color: #B4D8D1;
  margin-bottom: 20px;
}

img.icon {
  max-height:140px;
  margin-bottom: 2em;
}


#bike {
  display: inline;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.image-wrapper {
  float: left;
  margin: 2em;
}

.centralize {
  text-align: center;
}

ul.do-icons li {
  display: inline-block;
  text-decoration: none;
  margin-left: 2em;
  margin-right: 1em;

}

.icon-title > li{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

.skill-set {
  margin: 0 10px 20px 20px;
  position: relative;
  display: inline-block;
  background: #ffffff;
  height: 100px;
  width: 100px;
  border: 4px #28B698 solid;
}

#photoshop-level {
  background-color: #B4D8D1;
  height: 92px;
  width: 85px;
}

#illustrator-level {
  background-color: #B4D8D1;
  height: 92px;
  width: 75px;
}

#lightroom-level {
  background-color: #B4D8D1;
  height: 92px;
  width: 70px;
}

#premier-level {
  background-color: #B4D8D1;
  height: 92px;
  width: 50px;
}

.skill-name {
  font-size: 3em;
  color: #28B799;
  // text-shadow: -1px 2px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.code-set {
  list-style: none;
  display: inline;
  font-size: 1.5em;
  color: #ffffff;
  margin: 0px auto;
  padding: 0px;
  text-align: right;
}

img.code-skills {
  width: 80px;
  height: relative;
  margin: -10px 10px 40px 20px;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25em;
}

a:hover {
  color: #fff000;
  text-decoration: none;
}

/*
* === FOOTER ===
*/

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #262626;
    margin-top: -10px;
    margin: 0 auto;
    height: 140px;
}

ul.social {
  color: #ffffff;
  font-size: 1em;
  list-style: none;
  display: block;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

 li.social  {
  display: inline;
  margin-right: 5px;
  padding: 0px;
 }

 li.social:nth-child(1){
  display: block;
  font-size: 1em;
  margin: 30px 0px 10px;
 }

img.social {
  width: 35px;
  height: relative;
}

/*
* === PORTFOLIO ===
*/

.parent {
  border: 5px solid lightcoral;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.redbox {
  background-image: url(cat.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightblue;
  color: #000000;
  width: 30%;
  min-width: 350px;
  height: 400px;
  margin: 20px auto;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

p.content {
  background-color: rgba(255,0,0,0.5);
  width: 100%;
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
  font-size: 1em;
}

// .redbox:nth-child(3) {
//   flex-grow: 2;
// }

// .redbox:nth-child(4) {
//   order: 2;
// }



/*
* === RESPONSIVE TEXT QUERIES ===

/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .about {
                float: initial;
              }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        #timeline:before {
                background: transparent;
              }

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 500px) {
      h1.name {
          font-size: 4em;
          padding-top: 150px;
        }
        h3.title {
          font-size: 1.5em;
        }
        h2.sub-title {
          font-size: 1.5em;
          padding-top: 5px;
        }

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
    }
