/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'normalize';
@import "bootstrap-sprockets";
@import "bootstrap";

/*
* === BOOTSTRAP GRID ===
*/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
  }

.img-responsive {
  display: block;
  max-width: 90%;
  height: auto;
  margin: 0 auto ;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

/*
* === NAVIGATION ===
*/

.navbar {
  background-color: #262626;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

img.brand {
  margin-left: 10px;
}

li.nav-page:nth-child(3) {
  margin-right: 50px;
}


body {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #ffffff;
  font-family: 'Muli', sans-serif;
  background: url("single_bp_bg.png") repeat scroll 0px 0px transparent;

}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  margin: 0 auto;
}

h2 {
  margin-top: 10px;
  margin-left: 15px;
}

h3 {
  margin: 0 0 20px 0;
  font-size: 26px;
}

p {
  background-color: #B4D8D1;
  font-family: 'Muli', sans-serif;
  font-size: 1.25em;
  line-height: 1.25em;
  padding-bottom: 5px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

/*
* === TIMELINE ===
*/

/*
* === PIE ===
*/

.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #FFCF0B;
  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #81CE97;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: red;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 160px/2);
  top: calc(50% - 160px/2);
  width: 160px;
  height: 160px;
  background: #FFF;
  text-align: center;
  display: table;
}
.ppc-percents p {
  display: block;
  font-family: Oswald;
  font-size: 2em;
  color: #262626;
  background-color: transparent;
  margin: auto;
  padding: 0px;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 20px;
}



/*
* === ABOUT ===
*/

.heading {
  background-color: #262626;
  background-image: url(cover-grey.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

img#triangle {
  width: 75px;
  height: relative;
  z-index: 1;
}
h1.name {
  font-family: Oswald;
  font-size: 6.5em;
  padding-top: 150px;
  text-align: center;
  color: #ffcf0b;
}

h3.title {
  font-family: special_eliteregular;
  font-size: 3em;
  padding-top: 15px;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

h2.sub-title {
  font-family: special_eliteregular;
  font-size: 2em;
  padding-top: 15px;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

img.banner {
  max-width: 1170px;
}

p.story {
  width: 50%;
  min-width: 350px;
  padding: 0px 20px;
  margin: 20px auto;
}

#about {
}


#name {
}

h2.story-heading {
  font-family: Oswald;
  font-size: 4em;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #262626;
}

#the-story-so-far {
  background-color: transparent;
  margin-bottom: 20px;
  padding: 0px 5% 0px 5%;
}

#the-story-so-far p{
  background-color: transparent;
}

#who-i-am {
  background-color: #B4D8D1;
  margin: 0px 0px 20px 0px;
}

#who-i-am > p{
  padding-left: 60px;
  padding-right: 60px;
}

.what-i {
  background-color: #B4D8D1;
  margin-bottom: 20px;
}

img.icon {
  max-height:140px;
  margin-bottom: 2em;
}

img#selfie {
  max-height:400px;
  // -webkit-border-radius: 50%;
  // -moz-border-radius: 50%;
  // border-radius: 50%;
  border: none;
  margin-bottom: 20px;
}

#bike {
  display: inline;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.image-wrapper {
  float: left;
  margin: 2em;
}

.centralize {
  text-align: center;
}

ul.do-icons li {
  display: inline-block;
  text-decoration: none;
  margin-left: 2em;
  margin-right: 1em;

}

.icon-title > li{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

.skill-set {
  margin: 0 10px 20px 20px;
  position: relative;
  display: inline-block;
  background: #ffffff;
  height: 100px;
  width: 100px;
  border: 4px #28B698 solid;
}

#photoshop-level {
  background-color: #B4D8D1;
  height: 92px;
  width: 85px;
}

#illustrator-level {
  background-color: #B4D8D1;
  height: 92px;
  width: 75px;
}

#lightroom-level {
  background-color: #B4D8D1;
  height: 92px;
  width: 70px;
}

#premier-level {
  background-color: #B4D8D1;
  height: 92px;
  width: 50px;
}

.skill-name {
  font-size: 3em;
  color: #28B799;
  // text-shadow: -1px 2px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.code-set {
  list-style: none;
  display: inline;
  font-size: 1.5em;
  color: #ffffff;
  margin: 0px auto;
  padding: 0px;
  text-align: right;
}

img.code-skills {
  width: 80px;
  height: relative;
  margin: -10px 10px 40px 20px;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25em;
}

a:hover {
  color: #fff000;
  text-decoration: none;
}

/*
* === FOOTER ===
*/

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #262626;
}

ul.social {
  color: #ffffff;
  text-transform: uppercase;
  list-style: none;
  display: block;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 20%;
}

 li.social  {
  display: inline;
  margin-right: 5px;
 }

img.social {
  width: 35px;
  height: relative;
}

/*
* === PORTFOLIO ===
*/

.parent {
  border: 5px solid lightcoral;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.redbox {
  background-image: url(cat.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightblue;
  color: #000000;
  width: 30%;
  min-width: 350px;
  height: 400px;
  margin: 20px auto;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

p.content {
  background-color: rgba(255,0,0,0.5);
  width: 100%;
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
  font-size: 1em;
}

// .redbox:nth-child(3) {
//   flex-grow: 2;
// }

// .redbox:nth-child(4) {
//   order: 2;
// }

/*
* === RESPONSIVE TEXT QUERIES ===
*/

/* Custom, iPhone Retina */
  @media only screen and (max-width : 500px) {
        h1.name {
          font-size: 4em;
          padding-top: 150px;
        }
        h3.title {
          font-size: 1.5em;
        }
        h2.sub-title {
          font-size: 1.5em;
          padding-top: 5px;
        }
    }
